.item-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.item-detail img {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.item-detail-img {
    max-width: 400px;
}

.item-detail-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.item-detail-description {
    margin-bottom: 10px;
    font-size: 16px;
}

.item-detail-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.no-stock {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}