.cart-widget {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    position: relative;
    cursor: pointer;
}

.cart-widget:hover {
    opacity: 0.8;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.cart-icon {
    font-size: 26px;
}